.page-header {
  display: flex;
  flex-direction: column;

  padding: 10px 0 0 0;
}

.page-header__logo {
  padding: 0 0 15px 20px;
}

@media (min-width: @tablet-width) {
  .page-header {
    flex-direction: row;
  }
}
