.main-nav {
  margin : 0;
  padding: 0;

  .main-nav__list {
    margin : 0;
    padding: 0;
  }

  .site-list__item,
  .site-list__item--active {
    list-style: none;

    a {
      font-family   : 'Myriad Pro', sans-serif;
      font-size     : 20px;
      font-weight   : 400;
      line-height   : 20px;
      text-transform: uppercase;

      text-decoration: none;
    }
  }
}
