.nutrition-program {
  background-image:
    url("../img/index-can-mobile@1x.png"),
    url("../img/index-background-mobile@1x.jpg");
  background-position: center 170px, center 0;
  background-repeat: no-repeat;

  width: 100%;
  padding: 30px 0 15px 0;
  margin: 0;

  color: @background-white;
  text-align: center;

  h1 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;

    margin: auto;

    width: 320px;
  }
}

.nutrition-program__slogan {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;

  margin: 25px 0 315px 0;
}

.nutrition-programm__button {
  font-size: 14px;
  line-height: 18px;

  padding: 12px 72px 10px 72px;
}

@media (min-width: @tablet-width) {
  .nutrition-program {
    background-image: url("../img/index-can-tablet@1x.jpg");
    background-position: center 250px;

    padding: 55px 0 0 0;

    text-align: left;

    h1 {
      font-size: 60px;
      line-height: 60px;

      color: @font-black;

      margin: 0 0 45px 10%;

      width: 430px;
    }
  }

  .nutrition-program__slogan {
    font-size: 20px;
    line-height: 14px;

    color: @font-black;

    margin: 0 0 50px 10%;
  }

  .nutrition-programm__button {
    font-size: 14px;
    line-height: 18px;

    margin: 0 0 0 10%;
    padding: 12px 72px 12px 72px;
  }

  .nutrition-program__wraper {
    padding-bottom: 560px;
  }
}

@media (min-width: @desktop-width) {
  .nutrition-program {
    background-image:
      url("../img/index-can-desktop@1x.png"),
      url("../img/index-background-desktop@1x.jpg");
    background-position: 500px 0, right 0;
  }

  .nutrition-program__wraper {
    padding-bottom: 450px;
  }
}
