.page-footer {
  display: flex;
  flex-direction: column;

  width: 78%;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
  align-items: center;

  background-color: @background-gray;
}

@media (min-width: @tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
