.page-footer {
  padding: 0 20px 0 20px;

  .social__item {
    list-style: none;
  }

  .social__link {
    text-decoration: none;
  }

  .copyright__link {
    color: @font-black;
    font-family: "Arial", sans-serif;
    font-size: 16;
    font-weight: 400;
    line-height: 16px;

    text-decoration: none;
  }
}
