.site-list__item,
.site-list__item--active {
  list-style: none;
  text-align: center;

  margin-bottom: 10px;
  padding-bottom: 10px;

  border-bottom: 1px solid @background-lightgray;
}

.site-list__item:last-child {
  border-bottom: none;
}

.site-list--link {
  color: @font-black;

  font-family: "Myriad Pro", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;

  text-transform: uppercase;
  text-decoration: none;
}
