.type-program {
  box-sizing: border-box;
  background-color: #f2f2f2;

  padding   : 20px 20px 0 20px;
  margin-top: 20px;

  height: 220px;

  .type-program__intro {
    font-family: "Arial", sans-serif;
    font-size  : 14px;
    line-height: 18px;
    font-weight: 400;

    margin: 25px 0 25px 0;

    border-bottom: 1px solid #d9d9d9;

  }

}
